/* SearchForm  */
.SearchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputContainer {
    display: flex;
}

.SearchForm input {
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 75px;
}

.Result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Result p {
    align-items: center;
    width: 50%;
}

.Result span {
    background-color: green;
    color: white;
}