@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
.App {
  margin: 2%;
}

body {
  font-family: "Luxurious Roman", cursive;
  background-color: rgb(160, 43, 43);
}
/* SearchForm  */
.SearchForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
label {
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 5px;
}
.genreInput {
  width: 164px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.SearchForm input {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 1;
  height: 25px;
}

#watch-listbtn {
  text-decoration: none;
  color: white;
}
#watch-listbtn:hover {
  text-decoration: none;
  color: black;
}

button {
  background-color: rgb(70, 70, 71);
  color: white;
  border-radius: 5px;
  font-size: medium;
  padding: 5px 10px;
}
button:hover {
  background-color: rgb(41, 32, 33);
  color: black;
  transition-duration: 0.3s;
}

/* Header */

.Header {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-family: "Great Vibes", cursive;
}
.Header h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

/* ResultsList / Results */

.Result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid black;
  box-shadow: 0 0 15px 5px rgb(0, 0, 0);
}
.Result p {
  display: flex;
  justify-content: center;
  width: 50%;
  font-size: larger;
}

.Result img {
  box-shadow: 0 0 15px 5px rgb(0, 0, 0);
  border-radius: 20px;
  transition: transform 450ms;
}

.Result img:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.03);
  cursor: pointer;
}

.rating-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  width: 30px;
  height: fit-content;
  border-radius: 50%;
  font-size: large;
  background-color: rgb(160, 43, 43);
}

#watchList {
  width: 15px;
  height: 15px;
}

#watchList:hover {
  cursor: pointer;
}
.SingleMovie-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid black;
}

.SingleMovie-container img {
  box-shadow: 0 0 15px 5px rgb(0, 0, 0);
  border-radius: 20px;
  width: 75%;
}
.SingleMovie-container p {
  display: flex;
  justify-content: center;
  width: 75%;
  font-size: larger;
}

.SingleMovie {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Modal {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(50%);
}
.Modal p {
  margin: 2px;
}
.Modal img {
  transform: translateX(50%);
}
.Modal h1 {
  text-align: center;
}
.Modal label {
  float: right;
}

@media screen and (min-width: 768px) {
  img {
    width: 200px;
  }
  .Result {
    width: 30%;
  }
  .ResultList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  img {
    width: 250px;
  }
  .Header h1 {
    font-size: 60px;
  }
}
@media screen and (min-width: 1200px) {
  img {
    width: 300px;
  }
}
